<?php namespace themes; if(!defined('TX')) die('No direct access.'); /*
  
  This is a basic setup for your {{TITLE}} theme.
  Here you can include HTML elements intended for the <head> tag.
  Generally speaking this will be CSS files and so we created a blank one for you.
  
  Read more about the Theme.php file here:
    https://github.com/Tuxion/tuxion.cms/wiki/Theme.php
  
*/ ?>
    <link rel="stylesheet" type="text/css" href="<?php echo $theme ?>css/style.css" />