{
  "title": "{{TITLE}}",
  "description": "A newly generated package by the Mokuji SDK.",
  "type": "manual",
  "dbUpdates": true,
  "versions": [
    {
      "version": "1.0",
      "date": "2013-04-01",
      "description": "Installatie mogelijk gemaakt.",
      "changes": []
    }
  ]
}
