<?php namespace components\{{NAME}}; if(!defined('TX')) die('No direct access.');

class Actions extends \dependencies\BaseComponent
{
  
  protected
    $permissions = array(
      'method_name1' => 2, // Method executable for administrators.
      'method_name2' => 1, // Method executable for logged in users and administrators.
      'method_name3' => 0 // Method executable for everyone.
    );
  
  /*
    
    # The Actions.php file
    
    This is where you define actions.
    Actions are used to perform operations that require a pageload.
    For asynchronous operations you should probably use the Json.php file.
    
    Call an action using:
      http://mysite.com/index.php?action={{NAME}}/function_name
    
    Read more about actions here:
      https://github.com/Tuxion/mokuji/wiki/Actions.php
    
  */
  
}
