/*
  This is the main stylesheet for your new theme.
  Keep in mind themes should ideally work independently of the template being used.
  Try not to refer to specific elements in the template for generic classes.
  
  Read more about styling themes here:
    https://github.com/Tuxion/tuxion.cms/wiki/Styling-themes
*/

.example{
  font-size:100%;
}